# other things we want to ignore
*.sdf
*.suo
*.vcxproj.user
*.ipch
*.opensdf
*.ilk
*.pdb
GLFW/Curves/Debug/*.*
GLFW/Curves/Release/*.*
DX11/Debug/*.*
DX11/**/Debug/*.*
DX11/Release/*.*
DX11/**/Release/*.*